<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="info.nukoneko.android.ho_n">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- Get Location from Wi-fi -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- Get Location from GPS -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:hardwareAccelerated="true"
        android:supportsRtl="true"
        android:name=".sys.NKAppController"
        android:theme="@style/AppTheme">

        <activity android:name=".controller.main.NKMainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Setting -->
        <activity android:name=".controller.setting.NKSettingActivity"
                  android:theme="@style/Theme.AppCompat.DayNight"
                  android:screenOrientation="portrait">
        </activity>

        <!-- Twitter Auth -->
        <activity
            android:name=".controller.main.twitter.NKTwitterAuthActivity"
            android:launchMode="singleTask" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:host="@string/twitter_callback_host"
                    android:scheme="@string/twitter_callback_schema"
                    android:path="@string/twitter_callback_path" />
            </intent-filter>
        </activity>

        <!-- for Fabric.io -->
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="061d5b33e651287ca7f0f61e0de17ee7958b6194" />

        <!-- for Android N -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="@string/app_package"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>
    </application>

</manifest>
